.tableau{
    /*border: 1px solid orange;*/
    background: lightblue;
   
}
.tableau1{
    /*border: 1px solid orange;*/
    background: white;
   
}

label, select, input{
    width: 150px
    display: inline-block;
    margin: 5px 0;
  }